---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { ReactButton } from '../components/ReactButton';
---

<!doctype html>
<html lang="en">
	<head>
		<title>React Component</title>
	</head>
	<body>
		<Header />
		<main class="w-full max-w-sm mx-auto">
			<h1 class="text-slate-700 text-lg font-bold">A Simple React Button</h1>
			<p class="text-violet-600 mt-6">What you see below is a React component that was imported into an Astro component.</p>
			<ReactButton client:load/>
		</main>
		<Footer />
	</body>
</html>
