---
import HeaderLink from './HeaderLink.astro';
---

<header>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
</header>
<style>
	header {
		padding: 1em;
	}
</style>
